In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from scipy import stats

In [3]:
data = pd.read_excel("data.xlsx", sheet_name="B - bodyfat")

In [4]:
data

,B1,B2,B3,B4,B5,B6,B7,B8,B9,B10,B11,B12,B13,B14,B15,B16,B17,B18
0,1.0708,12.3,normal,23,Male,Somerville,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,low,22,Male,Somerville,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,high,22,Male,Somerville,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,normal,26,Male,Somerville,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,high,24,Male,Somerville,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,normal,70,Male,Revere,134.25,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,high,72,Female,Revere,201.00,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,high,72,Female,Revere,186.75,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,high,72,Female,Revere,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,high,74,Female,Revere,207.50,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9

# Задание 1

In [32]:
task1_data = data.loc[:, "B10":"B12"]


pd.DataFrame({"Среднее" : task1_data.mean(), 
              "Выборочная дисперсия": task1_data.var(),
              "Выборочное среднеквадратическое отклонение": task1_data.std()
              }).T

                                                   B10         B11        B12
Среднее                                     100.824206   92.555952  99.904762
Выборочная дисперсия                         71.072918  116.274745  51.323722
Выборочное среднеквадратическое отклонение    8.430476   10.783077   7.164058